{% extends 'base.html' %}
{% block body %}
Welcome! This is the unofficial interface for Osiris Student system.<br/>
Created by Frank Boerman and Jeroen van Oorschot of Kolibri Solutions.<br/><br/>
Use the studyguide button on the top to start. All information on this interface is cached for 1 month after fetching.<br/>
Click on selected university to change targeted university Osiris.
<br/><br/>
    Fetching is done on request basis. When data is not in cache you will be shown a loading screen, fetching can take a couple of minutes.<br/>
There is also a public API available <a href="https://osiris.kolibrisolutions.nl/osiris/">here</a>. The API is also used to generate the tables on this interface. API caches for 1 month after fetching.
{% endblock %}