{% extends 'base.html' %}
{% block body %}
<h1>Codes of Faculty {{ faculty }} of type {{ type }}</h1>
<table class="table bordered striped hovered datatable">
    <thead>
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Level</th>
        <th>Group</th>
        <th>Quarter</th>
        <th>Timeslot</th>
        <th>Teacher</th>
        <th>ECTS</th>
        <th>Osiris</th>
    </tr>
    </thead>
    <tbody>
        {% for course in courses %}
            <tr>
                <td><b>{{ course.code }}</b></td>
                <td>{{ course.name }}</td>
                <td>{{ course.level }}</td>
                <td>{{ course.group }}</td>
                <td>{{ course.quartile }}</td>
                <td>{{ course.timeslot }}</td>
                <td><a href="mailto:{{ course.teachermail }}">{{ course.teacher }}</a></td>
                <td>{{ course.ECTS }}</td>
                <td><a href="{{ course.detaillink }}" class="button info rounded">Osiris</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">

        $(document).ready(function () {
            var cols = [
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                {"searchable": false, "sortable": false}
            ];
            var dropdownColumns = [2,3,4,5,6];
            MPDataTable(cols, dropdownColumns);
        });
    </script>

{% endblock %}