<html>
<head>
    <title>OsirisTue Graph</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
</head>
<body>
<h1>Tree for faculty {{ faculty }} and type {{ type }}</h1>
<div id="mynetwork"></div>

<script type="text/javascript">
    {% autoescape off %}
var nodes = new vis.DataSet({{ visjs.nodes }});
var edges = new vis.DataSet({{ visjs.edges }});
    {% endautoescape %}
var container = document.getElementById('mynetwork');
var d = {
nodes: nodes,
edges: edges
};
var options = {};
var network = new vis.Network(container, d, options);

{#$.get("http://localhost:8080/osiris/api/faculty/visjs/nodes/{{ faculty }}/{{ type }}/", function(data){#}
{#        var nodes = new vis.DataSet(JSON.parse(data));#}
{#        $.get("http://localhost:8080/osiris/api/faculty/visjs/edges/{{ faculty }}/{{ type }}/", function(data) {#}
{#               var edges = new vis.DataSet(JSON.parse(data));#}
{#                 // create a network#}
{#                  var container = document.getElementById('mynetwork');#}
{#                  var d = {#}
{#                    nodes: nodes,#}
{#                    edges: edges#}
{#                  };#}
{#                  var options = {};#}
{#                  var network = new vis.Network(container, d, options);#}
{#            });#}
{#    });#}

</script>
</body>
</html>