{% extends 'base.html' %}

{% block body %}
<center>
<div style="width:75%;">
Data is not in cache. Please wait while we fetch the information from Osiris. This page will automatically refresh.<br/>
<div class="progress large" data-role="progress" id="progressbar"></div>
</div>
</center>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            if (window.location.protocol == "https:") {
                window.socket = new WebSocket("wss://" + window.location.host + "/waiting/{{ channel }}/");
            }
            else {
                window.socket = new WebSocket("ws://" + window.location.host + "/waiting/{{ channel }}/");
            }
            window.socket.onmessage = function (e) {
                console.log(e.data);
                if(e.data == 'DONE') {
                    location.reload(true);
                } else {
                    var pb = $("#progressbar").data('progress');
                    if(parseInt(e.data) > pb.value()) {
                        pb.set(parseInt(e.data));
                    }
                }
            };
        });
    </script>
{% endblock %}
