__pycache__
.idea/
*.aux
*.bak
*.gz
*.json
*.log
*.pyc
*.sqlite3
*.swo
*.swp
*.toc
*.csv
documentation/build/
githash
media/*
migrations/
templates/static/admin/*
templates/static/channels/*
osiristue/secret.py
telemetry_cli/telemetry_key.py
Pipfile.lock
Pipfile