{% extends 'base.html' %}

{% block body %}
<h1>Course Browser API</h1>
<h3>By kolibri solutions</h3>
Welcome to the Course Browser API, developed by Kolibri Solutions. For questions or inquiries contact info@kolibrisolutions.nl.<br/><br/>
This API is in development and subject to change.<br/>
All responses are in JSON format except for this help page, data is cached for 24 hours after fetching from Osiris<br/><br/>
This Unofficial Interface has no official endorsement of the universities or Osiris whatsoever.<br/><br/>
All rights reserved. All product names, logos, and brands are property of their respective owners. Use of these names, logos, and brands does not imply endorsement.
<h2>HTTP GET</h2>
The endpoints to use:<br/>
<table class="table-bordered">
<thead>
    <tr>
        <th>Endpoint</th>
        <th>Description</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>/osiris/</td>
        <td>This help page</td>
    </tr>
    <tr>
        <td>/osiris/api/unicodes/</td>
        <td>List all available university, their codes and which api version we support for them</td>
    </tr>
    <tr>
        <td>/osiris/api/&lt;unicode&gt;/types/</td>
        <td>List of all supported types</td>
    </tr>
    <tr>
        <td>/osiris/api/&lt;unicode&gt;/faculties/</td>
        <td>List of all supported faculties</td>
    </tr>
    <tr>
        <td>/osiris/api/&lt;unicode&gt;/&lt;year&gt;/course/&lt;coursecode&gt;/header/</td>
        <td>List of dictionaries with all information in the header of osiris for given course, for now only search by coursecode is supported. If a course has multiple timeslots or quartiles multiple entries will be returned.</td>
    </tr>
{#    <tr>#}
{#        <td>/osiris/api/&lt;unicode&gt;/&lt;year&gt;/course/&lt;coursecode&gt;/info/</td>#}
{#        <td>Dictionary with information about course</td>#}
{#    </tr>#}
    <tr>
        <td>/osiris/api/&lt;unicode&gt;/&lt;year&gt;/faculty/courses/&lt;facultycode&gt;/&lt;typecode&gt;/</td>
        <td>List of codes of all courses given by specified faculty with specified type. For a list of available types and faculties see above endpoints. To filter on study send "STUDY:&lt;studycode&gt;" as a request header</td>
    </tr>
    <tr>
        <td>osiris/api/&lt;unicode&gt;/studies/</td>
        <td>List of tuple pairs of code and name of all available studies</td>
    </tr>
</tbody>
</table>
    <br/>
<h3>api V2 endpoints</h3>
For some universities version 2 API endpoints are available:<br/>
<table class="table-bordered">
<thead>
    <tr>
        <th>Endpoint</th>
        <th>Description</th>
    </tr>
</thead>
<tbody>
<tr>
    <td>/osiris/api/v2/&lt;unicode&gt;/&lt;year&gt;/courses/all/</td>
    <td>List of all valid course codes</td>
</tr>
</tbody>
</table>
    <br/>
<h2>Websockets</h2>
The endpoints to use:<br/>
<table class="table-bordered">
<thead>
    <tr>
        <th>Endpoint</th>
        <th>Message to send</th>
        <th>Description</th>
    </tr>
</thead>
<tbody>
<tr>
    <td>/osiris/api/ws/&lt;unicode&gt;/course/</td>
    <td>&lt;coursecode&gt;</td>
    <td>Dictionary with all information for given course, send course code and receive dictionary back if course exists</td>
</tr>
<tr>
    <td>/osiris/api/ws/&lt;unicode&gt;/faculty/</td>
    <td>&lt;facultycode&gt;:&lt;typecode&gt;</td>
    <td>List of codes of all courses given by specified faculty with specified type. For a list of available types and faculties see above endpoints.</td>
</tr>
</tbody>
</table>
{% endblock %}
