{% extends 'base.html' %}

{% block body %}
    <h1>Please choose a Department</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Department Code</th>
            <th>Department Name</th>
            <th>Courses</th>
        </tr>
        </thead>
        <tbody>
        {% for department in departments %}
            <tr>
                <td>{{ department.0 }}</td>
                <td>{{ department.1 }}</td>
                <td>
                    {% for type in types %}
                        <a href="{% url 'studyguide:list_courses' department.0|urlencode type.0 year %}">
                        <button type="button" class="btn btn-primary"
                        data-toggle="modal" data-target="#warningModal">
                        {{ type.1 }}
                        </button>
                        </a>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


<!-- Modal -->
<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="warningModalLabel">Data fetching</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            Data is being fetched, please note this can take up to 10 seconds.
      </div>
{#      <div class="modal-footer">#}
{#        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#        <button type="button" class="btn btn-primary">Save changes</button>#}
{#      </div>#}
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{{ block.super }}
    <script>
    window.onbeforeunload = function (){
        $('#warningModal').modal('hide')
    }
    </script>
{% endblock %}