<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Osiris Api Help</title>
    <style>
        table {
            width:100%;
        }
        table, th, td{
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h1>Osiris Unofficial API</h1>
<h3>By kolibri solutions</h3>
Welcome to the unofficial Osiris API, developed by Kolibri Solutions. For questions or inquiries contact info@kolibrisolutions.nl.<br/><br/>
This API is in development and subject to change.<br/>
All responses are in JSON format except for this help page, data is cached for 24 hours after fetching from Osiris<br/><br/>
This Unofficial Interface has no official endorsement of the universities or Osiris whatsoever.<br/><br/>
All rights reserved. All product names, logos, and brands are property of their respective owners. Use of these names, logos, and brands does not imply endorsement.
<h2>http GET</h2>
The endpoints to use:<br/>
<table>
<thead>
    <tr>
        <th>Endpoint</th>
        <th>Description</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>/osiris/</td>
        <td>This help page</td>
    </tr>
    <tr>
        <td>/osiris/api/unicodes/</td>
        <td>List all available university and their codes</td>
    </tr>
    <tr>
        <td>/osiris/api/&lt;unicode&gt;/types/</td>
        <td>List of all supported types</td>
    </tr>
    <tr>
        <td>/osiris/api/&lt;unicode&gt;/faculties/</td>
        <td>List of all supported faculties</td>
    </tr>
    <tr>
        <td>/osiris/api/&lt;unicode&gt;/course/&lt;coursecode&gt;/</td>
        <td>List of dictionaries with all information for given course, for now only search by coursecode is supported. If a course has multiple timeslots or quartiles multiple entries will be returned.</td>
    </tr>
    <tr>
        <td>/osiris/api/&lt;unicode&gt;/faculty/courses/&lt;facultycode&gt;/&lt;typecode&gt;/</td>
        <td>List of codes of all courses given by specified faculty with specified type. For a list of available types and faculties see above endpoints.</td>
    </tr>
{#    <tr>#}
{#        <td>/osiris/api/faculty/courses/&lt;facultycode&gt;/level/&lt;level&gt;/</td>#}
{#        <td>List of codes of all courses of given level. No type is given because levels are only specified for Bachelor College courses. Level goes from 1-3</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>/osiris/api/faculty/tree/&lt;facultycode&gt;/&lt;typecode&gt;/</td>#}
{#        <td>Tree in dot graphviz from of course dependencies</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>/osiris/api/faculty/visjs/&lt;facultycode&gt;/&lt;typecode&gt;/</td>#}
{#        <td>Dictionary holding nodes and edges of a course dependency graph to be drawn in for example visjs</td>#}
{#    </tr>#}
</tbody>
</table>
{#<h2>websockets</h2>#}
{#The endpoints to use:<br/>#}
{#<table>#}
{#<thead>#}
{#    <tr>#}
{#        <th>Endpoint</th>#}
{#        <th>Message to send</th>#}
{#        <th>Description</th>#}
{#    </tr>#}
{#</thead>#}
{#<tbody>#}
{#<tr>#}
{#    <td>/osiris/api/websocket/course/</td>#}
{#    <td>&lt;coursecode&gt;</td>#}
{#    <td>Dictionary with all information for given course, send course code and receive dictionary back if course exists</td>#}
{#</tr>#}
{#<tr>#}
{#    <td>/osiris/api/websocket/faculty/</td>#}
{#    <td>&lt;facultycode&gt;:&lt;typecode&gt;</td>#}
{#    <td>List of codes of all courses given by specified faculty with specified type. For a list of available types and faculties see above endpoints.</td>#}
{#</tr>#}
{#</tbody>#}
{#</table>#}
</body>
</html>
